@import "tailwindcss";

@theme {
    --color-green: #51df7b;
    --color-blue: #35a7ff;
    --color-pink: #ef476f;
}

@font-face {
    font-family: "Press Start 2P";
    src: url("/PressStart2P-Regular.ttf");
}

* {
    font-family: "Press Start 2P";
}

html,
body {
    touch-action: manipulation;
}

button {
    @apply cursor-pointer;
}

.btn-big {
    @apply w-60 py-4 sm:w-80 sm:py-6;
}

.btn-2 {
    @apply border-3 border-black rounded-lg text-black bg-white shadow-[8px_8px_0_var(--color-black)];
}

.btn-2.blue {
    @apply bg-blue;
}

.btn-2.pink {
    @apply bg-pink;
}

.btn-2:active {
    @apply translate-y-[8px] translate-x-[8px] shadow-[0px_0px_0px_var(--color-black)];
}
