---
import Layout from "./../Layout.astro"
---

<Layout>
    <div class="pt-[10%] flex flex-col items-center justify-center">
        <h1 class="text-dark text-4xl font-bold">Paddle royale</h1>
        <a class="btn w-80 mt-8 flex items-center justify-center" href="/singleplayer">
            Singleplayer
        </a>
        <a class="btn w-80 mt-6 flex items-center justify-center" href="/multiplayer">Multiplayer</a
        >
    </div>
</Layout>
