---
import "../styles.css"
---

<html class="w-full min-h-screen">
    <head>
        <title>Welcome to Astro</title>
    </head>
    <body class="w-full min-h-screen pt-10 px-10">
        <p id="msg-connecting">Connecting</p>
        <p class="hidden" id="msg-waiting">
            Waiting for players - conn id: <span id="conn-id"></span>
        </p>
        <p class="hidden" id="msg-playing">Playing</p>
        <canvas
            id="canvas"
            class="w-full max-w-[800px] aspect-[2/1] mx-auto border border-black rounded"></canvas>
    </body>
</html>

<script>
    const canvas = document.getElementById("canvas") as HTMLCanvasElement
    const ctx = canvas.getContext("2d")!

    const gameWidth = 800
    const gameHeight = 400

    {
        // canvas setup
        function resize() {
            ctx.setTransform(1, 0, 0, 1, 0, 0)

            const r = canvas.getBoundingClientRect()
            canvas.width = r.width
            canvas.height = r.height

            const scaleX = canvas.width / gameWidth
            const scaleY = canvas.height / gameHeight
            ctx.scale(scaleX, scaleY)
        }

        window.addEventListener("DOMContentLoaded", resize)
        window.addEventListener("resize", resize)
    }

    type GameState = {
        started: boolean
    }
    const gameState: GameState = {
        started: false,
    }

    type Paddle = {
        x: number
        y: number
        width: number
        height: number
    }

    function renderPaddle(paddle: Paddle, clr: string) {
        ctx.fillStyle = clr
        ctx.beginPath()
        const y = gameHeight - paddle.y - paddle.height
        ctx.roundRect(paddle.x, y, paddle.width, paddle.height, 10)
        ctx.fill()
    }

    let connId: number | null = null

    const MESSAGE_TYPE_CONN_ID = 0
    const MESSAGE_TYPE_START = 1
    const MESSAGE_TYPE_END = 2
    const MESSAGE_TYPE_GAME_STATE = 3
    const MESSAGE_TYPE_KEY = 4

    const ws = new WebSocket("ws://localhost:8080/ws")
    ws.binaryType = "arraybuffer"

    ws.onopen = () => {
        console.log("WebSocket connection opened")
    }

    ws.onmessage = function (this, event) {
        const data = event.data
        if (!(data instanceof ArrayBuffer)) {
            return
        }

        const view = new DataView(data)
        const messageType = view.getUint8(0)

        switch (messageType) {
            case MESSAGE_TYPE_CONN_ID: {
                connId = view.getUint32(1, true)
                console.log("Received conn id: " + connId)

                const msg = document.getElementById("msg-connecting") as HTMLParagraphElement
                msg.classList.add("hidden")

                const msgWaiting = document.getElementById("msg-waiting") as HTMLParagraphElement
                msgWaiting.classList.remove("hidden")
                ;(msgWaiting.querySelector("#conn-id")! as HTMLSpanElement).innerText =
                    connId.toString()

                break
            }
            case MESSAGE_TYPE_START: {
                const msg = document.getElementById("msg-waiting") as HTMLParagraphElement
                msg.classList.add("hidden")

                const msgPlaying = document.getElementById("msg-playing") as HTMLParagraphElement
                msgPlaying.classList.remove("hidden")

                // start game
                gameState.started = true
            }
            case MESSAGE_TYPE_GAME_STATE:
                ctx.clearRect(0, 0, gameWidth, gameHeight)

                let offset = 1
                for (let i = 0; i < 2; i++) {
                    console.log("Paddle " + i)
                    const c = view.getUint32(offset, true)
                    offset += 4

                    const paddleX = view.getFloat32(offset, true)
                    offset += 4
                    const paddleY = view.getFloat32(offset, true)
                    offset += 4
                    const paddleWidth = view.getFloat32(offset, true)
                    offset += 4
                    const paddleHeight = view.getFloat32(offset, true)
                    offset += 4

                    const paddle: Paddle = {
                        x: paddleX,
                        y: paddleY,
                        width: paddleWidth,
                        height: paddleHeight,
                    }

                    let clr = "rgb(255, 0, 0)"
                    if (c === connId) {
                        clr = "rgb(0, 0, 255)"
                    }

                    renderPaddle(paddle, clr)
                }

                break
        }
    }

    function keyCodeMap(event: KeyboardEvent): number {
        switch (event.key) {
            case "ArrowUp":
                event.preventDefault()
                return 0
            case "ArrowDown":
                event.preventDefault()
                return 1
            default:
                return -1
        }
    }

    function sendKeyMsg(keyCode: number, down: boolean) {
        const data = new Uint8Array(3)
        const view = new DataView(data.buffer)
        view.setUint8(0, MESSAGE_TYPE_KEY)
        view.setUint8(1, keyCode)
        view.setUint8(2, down ? 1 : 0)
        ws.send(data)
    }

    window.addEventListener("keydown", (event) => {
        if (gameState.started && ws.readyState === ws.OPEN) {
            const keyCode = keyCodeMap(event)
            if (keyCode !== -1) {
                sendKeyMsg(keyCode, true)
            }
        }
    })

    window.addEventListener("keyup", (event) => {
        if (gameState.started && ws.readyState === ws.OPEN) {
            const keyCode = keyCodeMap(event)
            if (keyCode !== -1) {
                sendKeyMsg(keyCode, false)
            }
        }
    })
</script>
