---
import Layout from "../Layout.astro"
---

<Layout>
    <div class="pt-[10%] px-5 sm:px-0 flex flex-col items-center justify-center">
        <h1 class="text-dark text-xl sm:text-4xl font-bold">Multiplayer</h1>

        <div class="w-full max-w-[800px] mt-10">
            <div class="w-full max-w-[800px] flex items-center justify-between">
                <div class="w-[40%] p-4 bg-dark flex flex-col border-3 border-dark-2">
                    <p class="text-xs text-light">Player 1</p>
                    <p class="mt-2 text-lg font-medium text-yellow">01</p>
                </div>

                <div class="w-[40%] p-4 bg-dark flex flex-col text-right border-3 border-dark-2">
                    <p class="text-xs text-light">Player 2</p>
                    <p class="mt-2 text-lg font-medium text-orange">01</p>
                </div>
            </div>

            <div class="relative w-full max-w-[800px] mt-6 aspect-[2/1] mx-auto canvas-wrapper">
                <canvas id="canvas" class="w-full aspect-[2/1]"></canvas>

                <div class="absolute inset-0 flex items-center justify-center">
                    <p id="msg-connecting" class="text-white">Connecting</p>
                    <p id="msg-waiting" class="text-white hidden">Waiting for other player</p>
                    <div id="msg-game-start" class="hidden">
                        <button id="btn-game-start" disabled class="btn">Start</button>
                    </div>
                    <div
                        id="msg-game-end"
                        class="hidden flex flex-col gap-4 items-center justify-center"
                    >
                        <p id="msg-game-end-text" class="text-light"></p>
                        <button id="btn-play-again" disabled class="btn">Play again (r)</button>
                    </div>
                </div>
            </div>

            <!-- arrows icons -->
            <div class="flex gap-8 items-center w-fit mx-auto mt-6">
                <div class="flex flex-col items-center gap-2">
                    <div class="bg-dark w-fit p-2 rounded">
                        <svg class="size-4 text-light">
                            <use href="/icons.svg#arrow-up"></use>
                        </svg>
                    </div>
                    <p class="text-xs">up</p>
                </div>
                <div class="flex flex-col items-center gap-2">
                    <div class="bg-dark w-fit p-2 rounded">
                        <svg class="size-4 text-light rotate-180">
                            <use href="/icons.svg#arrow-up"></use>
                        </svg>
                    </div>
                    <p class="text-xs">down</p>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
    import { connectToGameServer } from "../websocket"
    import { initCanvas, drawGameState, type Paddle } from "../game"

    const canvas = document.getElementById("canvas") as HTMLCanvasElement
    const ctx = canvas.getContext("2d")!

    initCanvas(canvas, ctx)

    let connId: number | undefined
    let connOrder = 0

    //
    const messageConnecting = document.getElementById("msg-connecting") as HTMLParagraphElement
    const messageWaiting = document.getElementById("msg-waiting") as HTMLParagraphElement

    const messageGameStart = document.getElementById("msg-game-start") as HTMLParagraphElement
    const btnGameStart = document.getElementById("btn-game-start") as HTMLButtonElement

    const messageGameEnd = document.getElementById("msg-game-end") as HTMLParagraphElement
    const messageGameEndText = document.getElementById("msg-game-end-text") as HTMLParagraphElement
    const btnPlayAgain = document.getElementById("btn-play-again") as HTMLButtonElement

    // ws

    function onMessageJoined(_connId: number, _connOrder: number, me: boolean) {
        if (me) {
            connId = _connId
            connOrder = _connOrder
        }

        messageConnecting.classList.add("hidden")

        if (_connOrder == 0) {
            messageWaiting.classList.remove("hidden")
        } else {
            messageWaiting.classList.add("hidden")
            messageGameStart.classList.remove("hidden")
            btnGameStart.disabled = false
        }
    }

    function onMessageReady(_connId: number) {
        console.log("ready", connId, _connId)
    }

    function onMessageStarted() {
        // initial start
        messageGameStart.classList.add("hidden")
        btnGameStart.disabled = true

        // restart
        messageGameEnd.classList.add("hidden")
        btnPlayAgain.disabled = true
    }

    function onMessageGameState(paddles: Paddle[], ballX: number, ballY: number) {
        if (connId === undefined) {
            return
        }
        drawGameState(ctx, connId, connOrder, paddles, ballX, ballY)
    }

    function onMessageGameEnd(winner: number) {
        let text: string
        if (winner === connId) {
            text = "You won!"
        } else {
            text = "You lost!"
        }
        messageGameEndText.innerText = text
        messageGameEnd.classList.remove("hidden")
        btnPlayAgain.disabled = false
    }

    connectToGameServer(
        false,
        btnGameStart,
        btnPlayAgain,
        onMessageJoined,
        onMessageStarted,
        onMessageReady,
        onMessageGameState,
        onMessageGameEnd,
    )
</script>
