---
import Layout from "../Layout.astro"
import Game from "../components/Game.astro"
---

<Layout>
    <div class="pt-[10%] px-5 sm:px-0 flex flex-col items-center justify-center">
        <h1 class="text-dark text-xl sm:text-4xl font-bold">Singleplayer</h1>
        <Game />
    </div>
</Layout>

<script>
    const canvas = document.getElementById("canvas") as HTMLCanvasElement
    const ctx = canvas.getContext("2d")!

    function resizeCanvas() {
        ctx.setTransform(1, 0, 0, 1, 0, 0)

        const r = canvas.getBoundingClientRect()
        canvas.width = r.width
        canvas.height = r.height

        const scaleX = canvas.width / 800
        const scaleY = canvas.height / 400
        ctx.scale(scaleX, scaleY)
    }

    window.addEventListener("DOMContentLoaded", resizeCanvas)
    window.addEventListener("resize", resizeCanvas)

    const gameWidth = 800
    const gameHeight = 400

    const PADDLE_WIDTH = 10
    const PADDLE_HEIGHT = 100
    const BALL_RADIUS = 5

    let connId: number | null = null
    let connOrder = 0
    const paddleXPosition: Record<number, number> = {
        0: 50,
        1: gameWidth - 50 - PADDLE_WIDTH,
    }

    type Paddle = {
        connId: number
        y: number
    }

    function drawGameState(paddles: Paddle[], ballX: number, ballY: number) {
        ctx.clearRect(0, 0, gameWidth, gameHeight)

        for (const paddle of paddles) {
            let paddleX: number

            if (paddle.connId === connId) {
                ctx.fillStyle = "#eaeaea"
                paddleX = paddleXPosition[connOrder]
            } else {
                ctx.fillStyle = "#dd6e42"
                paddleX = paddleXPosition[(connOrder + 1) % 2]
            }

            const y = gameHeight - paddle.y - PADDLE_HEIGHT
            ctx.beginPath()
            ctx.roundRect(paddleX, y, PADDLE_WIDTH, PADDLE_HEIGHT, 10)
            ctx.fill()
        }

        ctx.fillStyle = "#e8dab2"
        ctx.beginPath()
        const y = gameHeight - ballY
        ctx.arc(ballX, y, BALL_RADIUS, 0, 2 * Math.PI)
        ctx.fill()
    }

    //

    const messageConnecting = document.getElementById("msg-connecting") as HTMLParagraphElement

    const messageGameStart = document.getElementById("msg-game-start") as HTMLParagraphElement
    const btnGameStart = document.getElementById("btn-game-start") as HTMLButtonElement

    const messageGameEnd = document.getElementById("msg-game-end") as HTMLParagraphElement
    const messageGameEndText = document.getElementById("msg-game-end-text") as HTMLParagraphElement
    const btnPlayAgain = document.getElementById("btn-play-again") as HTMLButtonElement

    // ws

    const MESSAGE_TYPE_JOINED = 0
    const MESSAGE_TYPE_FULL = 1
    const MESSAGE_TYPE_STARTED = 2
    const MESSAGE_TYPE_GAME_STATE = 3
    const MESSAGE_TYPE_GAME_END = 4

    const MESSAGE_TYPE_KEY = 100
    const MESSAGE_TYPE_START = 101

    const keyCodeMap: Record<string, number> = {
        ArrowUp: 0,
        ArrowDown: 1,
        " ": 2,
    }

    window.addEventListener("DOMContentLoaded", () => {
        const ws = new WebSocket("ws://localhost:8080/game?singleplayer=1")
        ws.binaryType = "arraybuffer"

        function encodeKeyMsg(keyCode: number, down: boolean): Uint8Array<ArrayBuffer> {
            const data = new Uint8Array(3)
            const view = new DataView(data.buffer)
            view.setUint8(0, MESSAGE_TYPE_KEY)
            view.setUint8(1, keyCode)
            view.setUint8(2, down ? 1 : 0)
            return data
        }

        function btnStartOnClick() {
            ws.send(new Uint8Array([MESSAGE_TYPE_START]))
        }

        function btnPlayAgainOnClick() {
            ws.send(new Uint8Array([MESSAGE_TYPE_START]))
        }

        function windowKeyDown(event: KeyboardEvent) {
            const keyCode = keyCodeMap[event.key]
            if (keyCode !== undefined) {
                ws.send(encodeKeyMsg(keyCode, true))
            }
        }

        function windowKeyUp(event: KeyboardEvent) {
            const keyCode = keyCodeMap[event.key]
            if (keyCode !== undefined) {
                ws.send(encodeKeyMsg(keyCode, false))
            }
        }

        ws.onopen = function () {
            btnGameStart.addEventListener("click", btnStartOnClick)
            btnPlayAgain.addEventListener("click", btnPlayAgainOnClick)
            window.addEventListener("keydown", windowKeyDown)
            window.addEventListener("keyup", windowKeyUp)
        }

        ws.onclose = function () {
            btnGameStart.removeEventListener("click", btnStartOnClick)
            btnPlayAgain.removeEventListener("click", btnPlayAgainOnClick)
            window.removeEventListener("keydown", windowKeyDown)
            window.removeEventListener("keyup", windowKeyUp)
        }

        ws.onmessage = function (event) {
            const data = event.data
            if (!(data instanceof ArrayBuffer)) {
                return
            }

            const view = new DataView(data)
            const messageType = view.getUint8(0)

            switch (messageType) {
                case MESSAGE_TYPE_JOINED: {
                    connId = view.getUint32(1, true)
                    connOrder = view.getUint8(5)

                    messageConnecting.classList.add("hidden")
                    messageGameStart.classList.remove("hidden")
                    btnGameStart.disabled = false

                    break
                }
                case MESSAGE_TYPE_STARTED: {
                    // initial start
                    messageGameStart.classList.add("hidden")
                    btnGameStart.disabled = true

                    // restart
                    messageGameEnd.classList.add("hidden")
                    btnPlayAgain.disabled = true
                }
                case MESSAGE_TYPE_GAME_STATE: {
                    const view = new DataView(data)
                    const paddles: Paddle[] = []

                    let offset = 1
                    function decodef32(): number {
                        const f = view.getFloat32(offset, true)
                        offset += 4
                        return f
                    }

                    for (let i = 0; i < 2; i++) {
                        const c = view.getUint32(offset, true)
                        offset += 4

                        const paddleY = decodef32()
                        paddles.push({
                            connId: c,
                            y: paddleY,
                        })
                    }

                    const ballX = decodef32()
                    const ballY = decodef32()

                    drawGameState(paddles, ballX, ballY)

                    break
                }
                case MESSAGE_TYPE_GAME_END: {
                    const view = new DataView(data)
                    const winner = view.getUint32(1, true)

                    let text: string
                    if (winner === connId) {
                        text = "You won!"
                    } else {
                        text = "You lost!"
                    }

                    messageGameEndText.innerText = text
                    messageGameEnd.classList.remove("hidden")
                    btnPlayAgain.disabled = false

                    break
                }
            }
        }
    })
</script>
